:root {
    font-size:18px;
    font-family:'Courier New', Courier, monospace;
}
.main{
    margin-left: 5rem;
    padding:1rem;
}
body {
    color:white;
    background-color:#484b4f;
    margin:0;
    margin-left:2rem;
    padding:0;

}
body::-webkit-scrollbar{
    width:.5rem;
}
body::-webkit-scrollbar-track{
    background:black;
}
body::-webkit-scrollbar-thumb{
    background:white;
}
.title{
    color:white;
}
.headerLink{
    text-decoration: none;
}
.navbar{
    position:fixed;
    right:0;
    top:0;
    background-color: rgba(2, 0, 128, 0.541);
    width:5rem;
    height:100vh;
    transition:width 600ms ease;
}
.title{
    text-decoration: none;
    font-weight:bolder;
    font-size:28px;
}
.navbar-navigate{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;

}
.navbar-item{
    width:100%;
}
.navbar-item:first-child{
    margin-bottom:25px;
}
.navbar-item:last-child{
    margin-top:auto;
}
.navbar:hover{
    width:11rem;
}
.navbar:hover .link-text{
    display:block;
}
.link{
    display:flex;
    align-items: center;
    height:5rem;
    color:white;
    text-decoration: none;
    filter:grayscale(100%)opacity(0.7);
    transition:var(--transition-speed);
}
.link:hover{
    filter:grayscale(0%) opacity(1);
    background:rgba(0, 123, 255, 0.695);
    color:black;
}
.link-text{
    display:none;
    margin-left:1rem;
}
.icon{
    width:2rem;
    min-width:2rem;
    margin: 0 1.5rem;
}
.vinylImg{
    width:128px;
    height:128px;
}
.itemContainer{
    display:flex;
    padding:3rem;
    overflow-x:scroll;
}
.itemContainer::-webkit-scrollbar{
    width:10px;
    height:10px;
}
.itemContainer::-webkit-scrollbar-thumb{
    background:white;
    border-radius:10px;
    box-shadow:inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25)

}
.itemContainer::-webkit-scrollbar-track{
    background:black;
}
.singleItem{
    display:inline-flex;
    position:relative;
    flex-direction:column;
    border-radius:16px;
    box-shadow: -1rem 0 1rem #000;
    transition:.2s;
    width:400px;
    height:350px;
    padding:1.5rem;
    background:gray;
    text-decoration:none;
}
.sinlgeItem:visited{
    color:white;

}
.singleItem:hover{
    transform:translateY(-1rem);
}
.singleItem:hover~.singleItem{
    transform:translateX(130px);
}
.singleItem:not(:first-child){
    margin-left:-130px;
}
.vinylTitle{
    font-weight:bolder;
}

