.artistList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 85vh;
    align-items: space-around;
    align-content: space-around;
    width: 75%;
    margin: 1%;
    /* border: 1px solid black; */
}

.artistLink{
    /* position:sticky; */
    /* flex-basis:min-content; */
    margin: 1%;
    padding: 1%;
    /* padding-right: 5%; */
    /* width: max-content; */
    font-size: .8em;
    border: 1px solid #FFFBE5;
}

.artistLink:hover {
    text-decoration:underline #a15e49
    /* border-radius: ; */
}


.singleArtistTitle {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}