.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -5%;
}

.payment-form {
  background-color: #dad6c2;
  padding: 10px;
  border-radius: 10px;
  border:solid #a0a38b;
  font-family: 'Libre Baskerville', serif;
}

.title-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-input{
  width: 98%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}
.selection {
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

.sub-btn {
  background-color: rgb(2, 52, 133);
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  justify-content: baseline;
}

.sub-btn:hover {
  background-color: #50617c
}